<!--<div class="col-sm-6 col-sm-offset-3">
    <div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="joke in jokes.jokes">
                <h5>{{joke.joke}}</h5>
                <h5>{{joke.submitted_by}}</h5>
            </li>
        </ul>
        <div class="alert alert-danger" ng-if="jokes.error">
            <strong>There was an error: </strong> {{jokes.error}}
            <br>Please go back and login again...
        </div>
    </div>
</div>-->

<div class="col-sm-6 col-sm-offset-3" >
<md-content flex style="margin: 16px; border-radius: 1px; border: 1px solid #ddd">
    <md-list>
        <md-list-item ng-repeat="joke in jokes.jokes">
            <div class="md-list-item-text">
                <h5>{{joke.joke}}</h5>
                <h5>{{joke.submitted_by}}</h5>
            </div>
        <md-divider inset></md-divider>
        </md-list-item>
    </md-list>
</md-content>
</div>